* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image : linear-gradient(
        to right top,
         rgb(27, 128, 113),
          rgb(86, 99, 146));
}

h1 {
    color: black;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 34px;
}

.color-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mybtn {
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.color-1 {
    background-color: #02012e;
}

.color-2 {
    background-color: #a8ce0e;
}

.code-section {
    text-align: center;
}

.copy-text {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
}

.code-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 30px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    color: white;
    font-family: monospace;
    font-size: 14px;
    display: inline-block;
}

.property {
    color: #99c9ff;
}

.value {
    color: white;
}